
<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-T8Gy5hrqNKT+hzMclPo118YTQO6cYprQmhrYwIiQ/3axmI1hQomh7Ud2hPOy8SP1" crossorigin="anonymous">
<style>
 @media (max-width: 990px) {
   .nav-search-form{
     display:none;
   }
 }
</style>
<!--top_bar-->
         <div class="top_bar">
            <div class="" style="padding:5px;padding-left:50px;padding-right:45px;">
            <div class="col-xs-5 col-md-6">
            <ul class="social" style="position:absolute;left:0px;">
            <li><a target="_blank" href=""><i class="fa fa-facebook text-white"></i></a></li>
            <li><a target="_blank" href=""><i class="fa fa-twitter text-white"></i></a></li>
            <li><a target="_blank" href=""><i class="fa fa-instagram text-white"></i></a></li>
            </ul></div>
            <div class="col-xs-7 col-md-6">
            <ul class="rightc">
            <li><i class="fa fa-envelope-o"></i> customer@seatfilla.com </li>
            <%if(!req.user){%>
            <li><i class="fa fa-user"></i> <a href="/user/register" style="color:white;" >Register</a></li>
            <%}%>
            <li>
            <div class="styled-select white semi-square" id="currency_select_s" style="margin-top:5px;max-width:120px;">
            <select class= "form-control centertext noselect" id="seatfilla_currencies"></select>
            </div>
            </li>
            </ul>
            </div>
            </div>
            <br/>
        </div>

<nav class="navbar navbar-default navbar-fixed-top site-nav" role="navigation">
    	<div class="" style="padding-left:20px;padding-right:100px;">
			<!-- Brand and toggle get grouped for better mobile display -->
			<div class="navbar-header">

				<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">

					<span class="sr-only">Toggle navigation</span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</button>
        <br>


			</div>

			<!-- Collect the nav links, forms, and other content for toggling -->
			<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
				    <div class="openNav">
  <div class="icon"></div>
</div>

				<ul class="nav navbar-nav navbar-right">
             <li><div class="">

    </div></li>
          <li><a href="/">Home</a></li>
					<li class="dropdown">
          <a href="/search/" class="dropdown-toggle" data-toggle="dropdown">Seatfilla Deals</a>

						<ul class="dropdown-menu">
							<li><a href="/flightoffer">Flights</a></li>
              <li><a href="/hotel">Hotels</a></li>
							<li class="divider"></li>
						</ul>
					</li>
          <li><a href="/home/aboutus">About Us</a></li>
          <li><a href="/home/contactus">Contact us</a></li>

          <li>
	    <ul id="userNavMenu" class="nav navbar-nav navbar-right">

				<li class="dropdown" id="notificationDropdown" style="position:relative;bottom:6px;right:10px;">
					<a href="#" class="dropdown-toggle" data-toggle="dropdown"  role="button" aria-expanded="false">
          <i class="fa fa-fw fa-bell-o"></i> Notifications <span class="badge"><span id="unread_notifications">0</span></span></a>
					<ul class="dropdown-menu" id="notifications" style="max-height:300px;overflow:scroll;" role="menu">
            <div class="panel-heading" style="background-color:#f3f3f3;"> Notifications</div>

            </ul>
				</li>

        <li>  <form class="navbar-form nav-search-form" role="search">
        <div class="input-group" style="">
           <select class="js-data-example-ajax form-control" style="min-width:150px;">
           <option>Search users</option>
        </select>
        </div>
        </form>
        </li>

        <%if(!req.user){%>
          <li class="active"><a href="#" class="btn btn-primary btn-lg" id="login-modal-trigger" role="button" data-toggle="modal" data-target="#login-modal">Login</a></li>
          <%}else{%>
            <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown"> <span class="glyphicon glyphicon-user pull-right"></span> <%= req.user.username %> </a>
            <ul class="dropdown-menu">
              <li><a href="/userprofile/<%=req.user.username%>">My profile <span class="glyphicon glyphicon-cog pull-right"></span></a></li>
              <li class="divider"></li>
               <li><a href="/provider/login">Provider login <span class="glyphicon glyphicon-cog pull-right"></span></a></li>
              <li class="divider"></li>
              <li><a href="/userprofile/<%=req.user.username%>/#updatesettings">Change Account Info <span class="glyphicon glyphicon-cog pull-right"></span></a></li>
              <li class="divider"></li>
              <li><a href="/userprofile/<%=req.user.username%>/#flightscheduling">My Active Requests <span class="glyphicon glyphicon-stats pull-right"></span></a></li>
              <li class="divider"></li>
              <li><a href="/userprofile/<%=req.user.username%>/#notifications">Notifications <span class="badge pull-right"> <span id="unread_notifications">0</span> </span></a></li>
              <li class="divider"></li>
              <li><a href="/userprofile/<%=req.user.username%>/#flightrequests">Accepted Flight Requests <span class="glyphicon glyphicon-heart pull-right"></span></a></li>
              <li class="divider"></li>
              <li><a href="/login">Sign Out <span class="glyphicon glyphicon-log-out pull-right"></span></a></li>
            </ul>
          </li>
        <%}%>

        <%if(req.user && req.user.roles && req.user.roles.filter(function(role){
            return role == 'admin';
        }).length > 0){ %>
				<li class="dropdown">
					<a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Admin <span class="caret"></span></a>
					<ul class="dropdown-menu" role="menu">
						<li><a href="#">Geri bildirim</a></li>
						<li><a href="#">Yardım</a></li>
						<li class="divider"></li>
						<li><a href="#">Ayarlar</a></li>
						<li><a href="#exit">Çıkış yap</a></li>
					</ul>
				</li>
        <%}%>
        </ul>

        </li>
			</ul>
			</div><!-- /.navbar-collapse -->
		</div><!-- /.container-fluid -->
	</nav>
</header>

