    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <meta property="og:url"           content="seatfilla.com" />
	<meta property="og:type"          content="website" />
	<meta property="og:title"         content="SeatFilla" />
	<meta property="og:description"   content="Find flights" />
	<meta property="og:image"         content="seatfilla.com" />

    <!--SCRIPTS-->
    <script src="/bower_components/jquery/dist/jquery.min.js"></script>
    <script src="/bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
    <script src="/bower_components/platform/platform.js"></script>
    <script src="/bower_components/webcomponentsjs/webcomponents-lite.min.js"></script>
    <script src="/js/dependencies/sails.io.js"></script>
    <script src="/js/dependencies/chat.js"></script>
    <script src="/js/dependencies/facebook.js"></script>
    <script src="/js/dependencies/geo-location.js"></script>
    <script src="/js/dependencies/geolocator.min.js"></script>
    <script src="/js/dependencies/jquery.toaster.js"></script>
    <script src="/js/dependencies/jquery.validate.js"></script>
    <script src="/js/dependencies/login.js"></script>
    <script src="/js/dependencies/notification-service.js"></script>
    <script src="/js/dependencies/seatfilla-config.js"></script>
    <script src="/js/dependencies/socket-handler.js"></script>
    <script src="/js/dependencies/supported-currencies.js"></script>
    <!--SCRIPTS END-->
    <link rel="import" href="/bower_components/paper-button/paper-button.html">
    <link rel="import" href="/bower_components/paper-toast/paper-toast.html">
    
    <!--STYLES-->
    <link rel="stylesheet" href="/bower_components/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="/bower_components/bootstrap/dist/css/bootstrap-theme.min.css">
    <link rel="stylesheet" href="/styles/importer.css">
    <link rel="stylesheet" href="/styles/main.css">
    <!--STYLES END-->

    <style>
   .bg_blur
{
    background-color:orange;
    height: 280px;
    background-size: cover;
    opacity:0.4;
}

.follow_btn {
    text-decoration: none;
    position: absolute;
    left: 35%;
    top: 42.5%;
    width: 35%;
    height: 15%;
    background-color: #007FBE;
    padding: 10px;
    padding-top: 6px;
    color: #fff;
    text-align: center;
    font-size: 20px;
    border: 4px solid #007FBE;
}

.follow_btn:hover {
    text-decoration: none;
    position: absolute;
    left: 35%;
    top: 42.5%;
    width: 35%;
    height: 15%;
    background-color: #007FBE;
    padding: 10px;
    padding-top: 6px;
    color: #fff;
    text-align: center;
    font-size: 20px;
    border: 4px solid rgba(255, 255, 255, 0.8);
}

.header{
    color : #808080;
    margin-left:10%;
    margin-top:70px;
}

.picture{
    height:150px;
    width:150px;
    position:absolute;
    top: 75px;
    left:-75px;
}

.picture_mob{
    position: absolute;
    width: 35%;
    left: 35%;
    bottom: 70%;
}

.btn-style{
    color: #fff;
    background-color: #007FBE;
    border-color: #adadad;
    width: 33.3%;
}

.btn-style:hover {
    color: #333;
    background-color: #3D5DE0;
    border-color: #adadad;
    width: 33.3%;
   
}


@media (max-width: 767px) {
    .header{
        text-align : center;
    }
    
    
    
    .nav{
        margin-top : 30px;
    }
}

/*side*/
td, th {
    vertical-align: middle !important;
}
.left, .right {
        float:left;
}
    
.sidebar .left {
        background: #fa1;
        display: inline-block;
        white-space: nowrap;
        width: 50px;
        transition: width 1s ;
        position:relative;
        min-height:445px;
    }

.sidebar .right {
        background: #fff;
        padding:50px;
        min-width:350px;
        transition: width 1s;
        border-style:solid;
        border-color:#ccc;
        border-width:1px;
        position:relative;
        right:50px;
         min-height:445px;
    }    

.sidebar .left:hover{
    width: 250px;
    
}    

.sidebar .item:hover {
    background-color:orange;
}
        
.sidebar .left .glyphicon {
        margin:15px;
        width:20px;
        color:#fff;
   
    }
    
.sidebar .right .glyphicon {
        color:#a9a9a9;
    }
.sidebar span.glyphicon.glyphicon-refresh{
    font-size:17px;
    vertical-align: middle !important;
    }
    
.sidebar .item {
        height:50px;
        overflow:hidden;
        color:#fff;
    }
.sidebar .title {
        background-color:#eee;
        border-style:solid;
        border-color:#ccc;
        border-width:1px;
        box-sizing: border-box;
    }
.search:hover {
        border-color:#4aa9fb;
        border-width:1px;
    }
.search {
    padding:3px 8px 3px !important;
    }
input[type=search] {
    padding: 10px 0px 10px;
	border: 0px solid #fff;
	background: #eee;
	-webkit-appearance: none;
    width:90%;
    float:none;
}
input[type=search]:focus {
    outline:none;
    }
.type{
    height: 47px;;
    }
.date{
    background-color:#f7f7f7
    }
.docdate {
    vertical-align:bottom !important;
    }
.distr {
    margin: 0 0 5px;
    font-size: 12px;
    }
.ndoc {
    margin: 0 0 5px;
    }
.storage {
    margin: 0;
    color: #aaa !important;
    font-size: 12px;
    }

    /* Profile container */
.profile {
  margin: 20px 0;
}

/* Profile sidebar */
.profile-sidebar {
  padding: 20px 0 10px 0;
  background: #fff;
}

.profile-userpic img {
  float: none;
  margin: 0 auto;
  width: 50%;
  height: 50%;
  -webkit-border-radius: 50% !important;
  -moz-border-radius: 50% !important;
  border-radius: 50% !important;
}

.profile-usertitle {
  text-align: center;
  margin-top: 20px;
}

.profile-usertitle-name {
  color: #5a7391;
  font-size: 16px;
  font-weight: 600;
  margin-bottom: 7px;
}

.profile-usertitle-job {
  text-transform: uppercase;
  color: #5b9bd1;
  font-size: 12px;
  font-weight: 600;
  margin-bottom: 15px;
}

.profile-userbuttons {
  text-align: center;
  margin-top: 10px;
}

.profile-userbuttons .btn {
  text-transform: uppercase;
  font-size: 11px;
  font-weight: 600;
  padding: 6px 15px;
  margin-right: 5px;
}

.profile-userbuttons .btn:last-child {
  margin-right: 0px;
}
    
.profile-usermenu {
  margin-top: 30px;
}

.profile-usermenu ul li {
  border-bottom: 1px solid #f0f4f7;
}

.profile-usermenu ul li:last-child {
  border-bottom: none;
}

.profile-usermenu ul li a {
  color: #93a3b5;
  font-size: 14px;
  font-weight: 400;
}

.profile-usermenu ul li a i {
  margin-right: 8px;
  font-size: 14px;
}

.profile-usermenu ul li a:hover {
  background-color: #fafcfd;
  color: #5b9bd1;
}

.profile-usermenu ul li.active {
  border-bottom: none;
}

.profile-usermenu ul li.active a {
  color: #5b9bd1;
  background-color: #f6f9fb;
  border-left: 2px solid #5b9bd1;
  margin-left: -2px;
}

/* Profile Content */
.profile-content {
  padding: 20px;
  background: #fff;
  min-height: 460px;
}


</style>

</head>

<body>
   <%- partial ('../partials/nav.ejs') %>
   
<div class="container-fluid" style="padding:180px;padding-top:110px;">
	<div class="row panel">
		<div class="col-md-4 bg_blur ">
            
		</div>
        <div class="col-xs-8 col-sm-offset-2 col-md-8 col-md-offset-0">
         
            <div style="">
                <img src="<%= data.UserProfile.image || 'http://placehold.it/350x150'%>" class="img-thumbnail picture hidden-xs" />
                <img src="<%= data.UserProfile.image || 'http://placehold.it/350x150'%>" class="img-thumbnail visible-xs picture_mob" />
                <%if(req.user && data.UserProfile.isOwnProfile){%>
                    <div class="pull-right">
                            <input type="button" class="btn btn-primary" value="Update Info">
                    </div>
                <%}%>
            </div>
            <div class="header text-center">
                    <h4><%=data.UserProfile.user.username%></h4>
                    <span>"<%=data.UserProfile.description%>"</span> 
                    <div class="col-xs-12">

            </div>
            </div>
            
            <div class="row nav">  
            <br>
            <hr/>  
        <div class="col-md-4">
        </div>
        <div class="col-md-8 col-xs-12" style="margin: 0px;padding: 0px;">
            <div class="col-md-4 col-xs-4 btn"><i class="fa fa-weixin fa-lg"></i> Links 16</div>
            <div class="col-md-4 col-xs-4 btn"><i class="fa fa-heart-o fa-lg"></i> 14</div>
            <div class="col-md-4 col-xs-4 btn"><i class="fa fa-thumbs-o-up fa-lg"></i> 26</div>
        </div>
        
    </div>
        </div>
        
    </div>   
<div class="col-md-3 sidebar">

   <div class="row">

	<div class="side-menu">
	<nav class="navbar" style="" role="navigation">
			<!-- Main Menu -->
<div class="sidebar">

<div class="row">
   <div class="col-md-12">
  
          
			<div class="profile-sidebar">
	
				<!-- SIDEBAR USER TITLE -->
				<div class="profile-usertitle">
					<div class="profile-usertitle-name">
						Marcus Doe
					</div>
					<div class="profile-usertitle-job">
						Developer
					</div>
                    
				</div>
				<!-- END SIDEBAR USER TITLE -->
                <!-- SIDEBAR MENU -->
				<div class="profile-usermenu">
					<ul class="nav">
						<li class="active">
							<a href="#">
							<i class="glyphicon glyphicon-home"></i>
							Overview </a>
						</li>
						<li>
							<a href="#">
							<i class="glyphicon glyphicon-user"></i>
							Account Settings </a>
						</li>
						<li>
							<a href="#" target="_blank">
							<i class="glyphicon glyphicon-ok"></i>
							Tasks </a>
						</li>
						<li>
							<a href="#">
							<i class="glyphicon glyphicon-flag"></i>
							Help </a>
						</li>
					</ul>
				</div>
				<!-- END MENU -->
				<!-- SIDEBAR BUTTONS -->
				<div class="profile-userbuttons">
					<button type="button" class="btn btn-success btn-sm">Follow</button>
					<button type="button" class="btn btn-danger btn-sm">Message</button>
				</div><br/>

                <div class="" style="background-color:white;">
<table class="table">
  <tr>
    <td class="">Last updated: <%= new Date(data.UserProfile.createdAt).toISOString() %> </td>
  </tr>
    <tr>
    <td class="docs">
    <p class="ndoc">Info</p>
    <p class="distr">Info</p>
    <p class="storage">Info</p>
    </td>
    <td class="docdate"></td>
  </tr>
  <tr>
    <td class="docs">
    <p class="ndoc">Info</p>
    <p class="distr">Info</p>
    <p class="storage">Info</p>
    </td>
    <td class="docdate"></td>
  </tr>
</table>
</div>

                 
            <!-- FLIGHT CIRCLE FRIENDS -->

            <div class="flight-circle-friends"> 
            <div class="row">
                <div class="col-xs-2 col-sm-2 col-md-3">
                    <a href="#" class="thumbnail">
                    <img src="http://placehold.it/150x150" class="img img-responsive">
                    </a>
                </div>
                <div class="col-xs-2 col-sm-2 col-md-3">
                    <a href="#" class="thumbnail">
                    <img src="http://placehold.it/150x150" class="img img-responsive">
                    </a>
                </div>
                <div class="col-xs-2 col-sm-2 col-md-3">
                    <a href="#" class="thumbnail">
                    <img src="http://placehold.it/150x150" class="img img-responsive">
                    </a>
                </div>
                <div class="col-xs-2 col-sm-2 col-md-3">
                    <a href="#" class="thumbnail">
                    <img src="http://placehold.it/150x150" class="img img-responsive">
                    </a>
                </div>
                <div class="col-xs-2 col-sm-2 col-md-3">
                    <a href="#" class="thumbnail">
                    <img src="http://placehold.it/150x150" class="img img-responsive">
                    </a>
                </div>
                <div class="col-xs-2 col-sm-2 col-md-3">
                    <a href="#" class="thumbnail">
                    <img src="http://placehold.it/150x150" class="img img-responsive">
                    </a>
                </div>
                <div class="col-xs-2 col-sm-2 col-md-3">
                    <a href="#" class="thumbnail">
                    <img src="http://placehold.it/150x150" class="img img-responsive">
                    </a>
                </div>
                <div class="col-xs-2 col-sm-2 col-md-3">
                    <a href="#" class="thumbnail">
                    <img src="http://placehold.it/150x150" class="img img-responsive">
                    </a>
                </div>
                <div class="col-xs-2 col-sm-2 col-md-3">
                    <a href="#" class="thumbnail">
                    <img src="http://placehold.it/150x150" class="img img-responsive">
                    </a>
                </div>
                <div class="col-xs-2 col-sm-2 col-md-3">
                    <a href="#" class="thumbnail">
                    <img src="http://placehold.it/150x150" class="img img-responsive">
                    </a>
                </div>
                <div class="col-xs-2 col-sm-2 col-md-3">
                    <a href="#" class="thumbnail">
                    <img src="http://placehold.it/150x150" class="img img-responsive">
                    </a>
                </div>
                <div class="col-xs-2 col-sm-2 col-md-3">
                    <a href="#" class="thumbnail">
                    <img src="http://placehold.it/150x150" class="img img-responsive">
                    </a>
                </div>
            </div> <!--row-->  
         </div>
			
			</div>
		</div>

    </div>
</div>
	</div><!-- /.navbar-collapse -->
</nav>
        
	</div>
</div>  	
	

  		<div class="col-md-9 col-xs-8">
  	
            <div class="panel" style="">
            <div class="panel-content">
            <%- body %>
            </div>
            </div>
        </div>
  	

  	</div>
 
 <%- partial ('../partials/footer.ejs') %>
 <%- partial ('../partials/toast.ejs') %>
 <%- partial ('../partials/modal.ejs') %>
</body>
</html>
