    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <meta property="og:url"           content="seatfilla.com" />
	  <meta property="og:type"          content="website" />
	  <meta property="og:title"         content="SeatFilla" />
	  <meta property="og:description"   content="Find flights" />
	  <meta property="og:image"         content="seatfilla.com" />

    <!--SCRIPTS-->
    <script src="/bower_components/jquery/dist/jquery.min.js"></script>
    <script src="/bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
    <script src="/bower_components/platform/platform.js"></script>
    <script src="/bower_components/webcomponentsjs/webcomponents-lite.min.js"></script>
    <script src="/js/dependencies/sails.io.js"></script>
    <script src="/js/dependencies/chat.js"></script>
    <script src="/js/dependencies/facebook.js"></script>
    <script src="/js/dependencies/geo-location.js"></script>
    <script src="/js/dependencies/geolocator.min.js"></script>
    <script src="/js/dependencies/jquery.toaster.js"></script>
    <script src="/js/dependencies/jquery.validate.js"></script>
    <script src="/js/dependencies/login.js"></script>
    <script src="/js/dependencies/notification-service.js"></script>
    <script src="/js/dependencies/seatfilla-config.js"></script>
    <script src="/js/dependencies/socket-handler.js"></script>
    <script src="/js/dependencies/supported-currencies.js"></script>
    <!--SCRIPTS END-->
    <link rel="import" href="/bower_components/paper-button/paper-button.html">
    <link rel="import" href="/bower_components/paper-toast/paper-toast.html">
    
    <!--STYLES-->
    <link rel="stylesheet" href="/bower_components/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="/bower_components/bootstrap/dist/css/bootstrap-theme.min.css">
    <link rel="stylesheet" href="/styles/importer.css">
    <link rel="stylesheet" href="/styles/main.css">
    <!--STYLES END-->

  
<script>
    $(document).ready(function(){
        $.toaster({ priority : 'info',  message : 'Manage your account'})
        $('.sf-account-menu li').removeAttr('class');
        $('#AccountPanel').attr('class','active');
    });
  </script>
</head>

<body>
   <%- partial ('../partials/nav.ejs') %>
     
   	<div class="container80 main-container">
  		<div class="col-md-2 sidebar">
  			<div class="row">

	<div class="absolute-wrapper"> </div>

	<div class="side-menu">
    <br/><br/><hr/>
		<nav class="navbar navbar-default" role="navigation">
			<!-- Main Menu -->
			<div class="side-menu-container" style="background-color:#fafafa;">
            
               <div class="" style="max-width:200px;border-style:solid;border-color:lightgrey;border-width:1px;">
                <image src="/images/Logo.png" width="200" class="img img-responsive"/>
                </div>    
                <div class="sidebar-nav-fixed">
               <h1>BlackJem</h1>
               <hr/></br>
             

    <div class="flight-circle-friends"> 
    <div class="">
    <div class="panel-heading">
       <span class=""><p>My Flight circle </p></span>
    </div>
    <div class="panel-body">
            <div class="row">
                <div class="col-xs-4">
                    <a href="#" class="thumbnail">
                    <img src="http://placehold.it/150x150" class="img img-responsive">
                    </a>
                </div>
                <div class="col-xs-4">
                    <a href="#" class="thumbnail">
                    <img src="http://placehold.it/150x150" class="img img-responsive">
                    </a>
                </div>
                <div class="col-xs-4">
                    <a href="#" class="thumbnail">
                    <img src="http://placehold.it/150x150" class="img img-responsive">
                    </a>
                </div>
                <div class="col-xs-4">
                    <a href="#" class="thumbnail">
                    <img src="http://placehold.it/150x150" class="img img-responsive">
                    </a>
                </div>
                <div class="col-xs-4">
                    <a href="#" class="thumbnail">
                    <img src="http://placehold.it/150x150" class="img img-responsive">
                    </a>
                </div>
                <div class="col-xs-4">
                    <a href="#" class="thumbnail">
                    <img src="http://placehold.it/150x150" class="img img-responsive">
                    </a>
                </div>
                <div class="col-xs-4">
                    <a href="#" class="thumbnail">
                    <img src="http://placehold.it/150x150" class="img img-responsive">
                    </a>
                </div>
                <div class="col-xs-4">
                    <a href="#" class="thumbnail">
                    <img src="http://placehold.it/150x150" class="img img-responsive">
                    </a>
                </div>
                <div class="col-xs-4">
                    <a href="#" class="thumbnail">
                    <img src="http://placehold.it/150x150" class="img img-responsive">
                    </a>
                </div>
            </div> <!--row-->
            </div> <!--panel body-->
            <div class="panel-footer">
                <a href="#" class="pull-right"><p>View all</p></a>
            </div>
        </div>
   </div>
				<ul class="nav navbar-nav sf-account-menu">
					<li id="AccountPanel" class="active"><a href="#"><span class="glyphicon glyphicon-stats"></span> Account panel</a></li>
					<li id="ChangeDetails"><a href="#"><span class="glyphicon glyphicon-user"></span> Change my details</a></li>
					<li><a href="FlightRequests"><span class="glyphicon glyphicon-plane"></span>My Flight requests</a></li>
                    <li><a href="#"><span class="glyphicon 	glyphicon glyphicon-ok"></span>My accepted flight requests</a></li>
                    <li><a href="#"><span class="glyphicon 	glyphicon glyphicon-ok"></span>Flight notifications</a></li>
                
					<li class="panel panel-default" id="dropdown">
						<a data-toggle="collapse" href="#dropdown-lvl1">
							<span class="glyphicon glyphicon-user"></span> Notifications <span class="caret"></span>
						</a>

				
						<div id="dropdown-lvl1" class="panel-collapse collapse">
							<div class="panel-body">
								<ul class="nav navbar-nav">
									<li><a href="#">Flight notifications</a></li>
									<li><a href="#">Seatfilla notifications</a></li>

									<!--<li class="panel panel-default" id="dropdown">
										<a data-toggle="collapse" href="#dropdown-lvl2">
											<span class="glyphicon glyphicon-off"></span> Sub Level <span class="caret"></span>
										</a>
										<div id="dropdown-lvl2" class="panel-collapse collapse">
											<div class="panel-body">
												<ul class="nav navbar-nav">
													<li><a href="#">Link</a></li>
													<li><a href="#">Link</a></li>
													<li><a href="#">Link</a></li>
												</ul>
											</div>
										</div>
									</li>-->
								</ul>
							</div>
						</div>
					</li>
                    <li><a href="#"><span class="glyphicon 	glyphicon glyphicon-search"></span>Recently searched</a></li>
					<li><a href="#"><span class="glyphicon 	glyphicon glyphicon-heart"></span>My flight circle</a></li>
                    	<li><a href="#"><span class="glyphicon 	glyphicon glyphicon-heart"></span>My flight groups</a></li>
                    <li><a href="#"><span class="glyphicon 	glyphicon glyphicon-heart"></span>Invite friends</a></li>
                     <li><a href="#"><span class="glyphicon glyphicon glyphicon-cloud"></span>API (Developers)</a></li>

				</ul>
			</div><!-- /.navbar-collapse -->
		</nav>
        
	</div>
</div>  		</div>
<br><br>
  		<div class="col-md-10 content">
  			  <div class="panel panel-default">
	<div class="panel-heading">
		My Account
	</div>
	<div class="panel-body">
	 <%- body %>
	</div>
</div>
  		</div>

  	</div>
 
 <%- partial ('../partials/footer.ejs') %>
 <%- partial ('../partials/toast.ejs') %>
 <%- partial ('../partials/modal.ejs') %>
</body>
</html>
