<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
    <head>

    <title><%=data && data.title || 'Seatfilla.com'%></title>


    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <meta property="og:url"           content="seatfilla.com" />
	<meta property="og:type"          content="website" />
	<meta property="og:title"         content="SeatFilla" />
	<meta property="og:description"   content="Find flights" />
	<meta property="og:image"         content="seatfilla.com" />

    <!--SCRIPTS-->
    <script src="/js/dependencies/sails.io.js"></script>
    <script src="/bower_components/jquery/dist/jquery.min.js"></script>
    <script src="/bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
    <script src="/bower_components/select2/dist/js/select2.full.min.js"></script>
    <script src="/bower_components/jsRender/jsrender.min.js"></script>
    <script src="/bower_components/moment/min/moment-with-locales.min.js"></script>
    <script src="/js/dependencies/airport-data2.js"></script>
    <script src="/js/dependencies/ajax-form.js"></script>
    <script src="/js/dependencies/chat.js"></script>
    <script src="/js/dependencies/currency-handler.js"></script>
    <script src="/js/dependencies/device.min.js"></script>
    <script src="/js/dependencies/facebook.js"></script>
    <script src="/js/dependencies/geo-location.js"></script>
    <script src="/js/dependencies/geolocator.min.js"></script>
    <script src="/js/dependencies/index.js"></script>
    <script src="/js/dependencies/input-hook.js"></script>
    <script src="/js/dependencies/jquery.countdown.min.js"></script>
    <script src="/js/dependencies/jquery.easing.min.js"></script>
    <script src="/js/dependencies/jquery.mb.YTPlayer.js"></script>
    <script src="/js/dependencies/jquery.toaster.js"></script>
    <script src="/js/dependencies/jquery.validate.js"></script>
    <script src="/js/dependencies/jqueryFormReset.js"></script>
    <script src="/js/dependencies/jqueryWaitingDialog.js"></script>
    <script src="/js/dependencies/jsRenderViewExtensions.js"></script>
    <script src="/js/dependencies/lazy-script-loader.js"></script>
    <script src="/js/dependencies/login.js"></script>
    <script src="/js/dependencies/nav-toggle.js"></script>
    <script src="/js/dependencies/notification-service.js"></script>
    <script src="/js/dependencies/seatfilla-config.js"></script>
    <script src="/js/dependencies/select2.full.min.js"></script>
    <script src="/js/dependencies/sidebar.js"></script>
    <script src="/js/dependencies/socket-handler.js"></script>
    <script src="/js/dependencies/user.js"></script>
    <script src="/js/dependencies/wow.min.js"></script>
    <!--SCRIPTS END-->

    <script src="/scripts/dom-reactor.js"></script>
    <script src="/scripts/user-profile.js"></script>
    <link rel="import" href="/bower_components/paper-button/paper-button.html">
    <link rel="import" href="/bower_components/paper-toast/paper-toast.html">

    <!--STYLES-->
    <link rel="stylesheet" href="/bower_components/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="/bower_components/bootstrap/dist/css/bootstrap-theme.min.css">
    <link rel="stylesheet" href="/bower_components/select2/dist/css/select2.min.css">
    <link rel="stylesheet" href="/styles/animate.css">
    <link rel="stylesheet" href="/styles/importer.css">
    <link rel="stylesheet" href="/styles/ionicons.css">
    <link rel="stylesheet" href="/styles/main.css">
    <!--STYLES END-->

<script>
$(window).ready(function(){
  $.lazyLoadScripts({},function(err){
    if(err) alert('Error loading scripts')
  })
})

</script>
</head>

<body>
<%- partial ('../partials/nav.ejs') %>

<div class="container-fluid profile-cont" style="padding-top:120px;">
	<div class="row" style="background-color:white;border-style:solid;border-color:#f3f3f3;border-width:2px;color:black;padding:10px;">

        <div class="col-xs-12">
            <div class="row">
            <div style="col-xs-3">
                <div style="position:relative;left:150px;">
                <img src="<%= data.UserProfile.user.image || 'http://placehold.it/350x150'%>" class="img-thumbnail picture hidden-xs" />
                <img src="<%= data.UserProfile.user.image || 'http://placehold.it/350x150'%>" class="img-thumbnail visible-xs picture_mob" />
                </div>
                <%if(req.user && data.UserProfile.isOwnProfile){%>
                    <div class="pull-right" style="position:relative;">
                        <div class="row">

                                <div class="col-xs-4">
                                    <input type="button" class="btn btn-info " value="Update Info"/></div>
                        </div>
                    </div>
                <%}%>
            </div>
            </div>
            <div class="header text-center">
                      <h2 class="" style="padding:10px;"><%= data.UserProfile.user.username %></h2>
                        <span class="text-white"><%= data.UserProfile.description %></span>
      
            </div>
            <div class="row nav">
            <br>
        <div class="col-md-4">
        </div>
        <div class="col-md-8 col-xs-12" style="margin: 0px;padding: 0px;">
            <div class="col-md-4 col-xs-4 btn btn-sm" style="background-color:#fff;color:black;"><i class="fa fa-weixin fa-lg"></i> Links 16</div>
            <div class="col-md-4 col-xs-4 btn btn-sm" style="background-color:#fff;color:black;"><i class="fa fa-heart-o fa-lg"></i> 14</div>
            <div class="col-md-4 col-xs-4 btn btn-sm" style="background-color:#fff;color:black;"><i class="fa fa-thumbs-o-up fa-lg"></i> 26</div>
        </div>

    </div>
        </div>

    </div>

    <div class="container-fluid">

    <div class="">
        <ul id="userProfileNavTabsContainer" class="nav nav-tabs profile" data-container="#profilePageTemplateContainer">
           <script id="userProfileNavTabsTemplate" type="text/html">
            <li data-hash="#profile"  class="active"><a data-page="/userprofile/<%=data.UserProfile.user.username%>?asAjax=true" data-toggle="tab">Profile</a></li>
            <li data-hash="#feed"><a data-page="/userprofile/<%=data.UserProfile.user.username%>/feed">Feed</a></li>
            <li data-hash="#notifications" ><a data-page="/notifications/findByUser">Notifications</a></li>
            <% if(req.user){ %>
                {{if (~getCurrentUser() && (~getCurrentUser().id == ~getCurrentProfileUser().id)) }}
                    <li data-hash="#updatesettings"><a data-page="/userprofile/<%=data.UserProfile.user.username%>/update">Update settings</a></li>
                    <li data-hash="#flightscheudling"><a data-page="/userprofile/<%=data.UserProfile.user.username%>/flightScheduling">Flight scheduling</a></li>
                    <li data-hash="#providersection"><a data-page="/userprofile/<%=data.UserProfile.user.username%>/provider">Provider section</a></li>
                {{/if}}
            <% } %>
          </script>

        </ul>
        <div id="tabContent" class="tab-content">
          <div class="tab-pane active in">

                 <div class="col-xs-8 col sm-8 col-md-10">
  		<div class="panel panel-default" style="width:100%;position:absolute;left:-15px;">
    <div id="profilePageTemplateContainer" class="panel-body">
            <%- body %>
            </div>
        </div>
</div>
<div class="col-xs-4 col-sm-4 col-md-2 sidebar" style="position:relative;bottom:20px;">

   <div class="row">

	<div class="side-menu">
	<nav class="navbar" style="" role="navigation">
			<!-- Main Menu -->
<div class="sidebar">

<div class="row">
   <div class="col-md-12">

			<div class="profile-sidebar">

				<!-- SIDEBAR USER TITLE -->
				<div class="profile-usertitle material-blue-5">
					<div class=" text-white" style="padding:20px;">
						<%= data.UserProfile.user.username %>
					</div>

				</div>

<div class="panel-heading">Recent activity</div>
<div class="activity-feed" style="max-height:200px;overflow:scroll;">
  <div class="feed-item">
    <div class="date">Sep 25</div>
    <div class="text">Responded to need <a href="single-need.php">“Volunteer opportunity”</a></div>
  </div>
  <div class="feed-item">
    <div class="date">Sep 24</div>
    <div class="text">Added an interest “Volunteer Activities”</div>
  </div>
  <div class="feed-item">
    <div class="date">Sep 23</div>
    <div class="text">Joined the group <a href="single-group.php">“Boardsmanship Forum”</a></div>
  </div>
  <div class="feed-item">
    <div class="date">Sep 21</div>
    <div class="text">Responded to need <a href="single-need.php">“In-Kind Opportunity”</a></div>
  </div>
  <div class="feed-item">
    <div class="date">Sep 18</div>
    <div class="text">Created need <a href="single-need.php">“Volunteer Opportunity”</a></div>
  </div>
  <div class="feed-item">
    <div class="date">Sep 17</div>
    <div class="text">Attending the event <a href="single-event.php">“Some New Event”</a></div>
  </div>
</div>

    <!-- FLIGHT CIRCLE FRIENDS -->
     <div class="panel-heading text-black">Links</div>
            <div class="flight-circle-friends" style="padding:5px;">
            <div class="row">
                <div class="col-xs-2 col-sm-2 col-md-4">
                    <a href="#" class="thumbnail">
                    <img src="http://placehold.it/150x150" class="img img-responsive">
                    </a>
                </div>
                <div class="col-xs-2 col-sm-2 col-md-4">
                    <a href="#" class="thumbnail">
                    <img src="http://placehold.it/150x150" class="img img-responsive">
                    </a>
                </div>
                <div class="col-xs-2 col-sm-2 col-md-4">
                    <a href="#" class="thumbnail">
                    <img src="http://placehold.it/150x150" class="img img-responsive">
                    </a>
                </div>
                <div class="col-xs-2 col-sm-2 col-md-4">
                    <a href="#" class="thumbnail">
                    <img src="http://placehold.it/150x150" class="img img-responsive">
                    </a>
                </div>
                <div class="col-xs-2 col-sm-2 col-md-4">
                    <a href="#" class="thumbnail">
                    <img src="http://placehold.it/150x150" class="img img-responsive">
                    </a>
                </div>
                <div class="col-xs-2 col-sm-2 col-md-4">
                    <a href="#" class="thumbnail">
                    <img src="http://placehold.it/150x150" class="img img-responsive">
                    </a>
                </div>
                <div class="col-xs-2 col-sm-2 col-md-4">
                    <a href="#" class="thumbnail">
                    <img src="http://placehold.it/150x150" class="img img-responsive">
                    </a>
                </div>
                <div class="col-xs-2 col-sm-2 col-md-4">
                    <a href="#" class="thumbnail">
                    <img src="http://placehold.it/150x150" class="img img-responsive">
                    </a>
                </div>
                <div class="col-xs-2 col-sm-2 col-md-4">
                    <a href="#" class="thumbnail">
                    <img src="http://placehold.it/150x150" class="img img-responsive">
                    </a>
                </div>
                <div class="col-xs-2 col-sm-2 col-md-4">
                    <a href="#" class="thumbnail">
                    <img src="http://placehold.it/150x150" class="img img-responsive">
                    </a>
                </div>
                <div class="col-xs-2 col-sm-2 col-md-4">
                    <a href="#" class="thumbnail">
                    <img src="http://placehold.it/150x150" class="img img-responsive">
                    </a>
                </div>
                <div class="col-xs-2 col-sm-2 col-md-4">
                    <a href="#" class="thumbnail">
                    <img src="http://placehold.it/150x150" class="img img-responsive">
                    </a>
                </div>
            </div> <!--row-->
         </div>
		</div>
    </div>
</div>
	</div><!-- /.navbar-collapse -->
</nav>
        </div>
	</div>
</div>
          </div>
        </div>
    </div>
</div>
</div>

 <%- partial ('../partials/modal.ejs') %>
 <%- partial ('../partials/toast.ejs') %>

</body>
</html>
