
<!-- JSRender List item template for displaying hotel items -->
<script type="text/html" id="list-item-template">

{{for hotels ~len=hotels.length}}
    {{if #getIndex() == 0 }}
        <div class="row">  {{:~log('start row')}}
    {{/if}}
    {{if ~mulOf(#getIndex(),3) && #getIndex() != 0}}
         </div> <!-- end row-->{{:~log('end row')}}
         <br/>
        <div class="well" style="background-color:white;">
      <div class="media">
      	<a class="pull-left" href="#">
    		<img class="media-object" src="{{:image}}" width="150" height="150">
  		</a>
  		<div class="media-body">
    		<p class="media-heading">{{:name}}</p>
          <p class="text-right">
          Popularity desc: {{:popularity_desc}}<br/>
          Popularity {{:~mul(~div(popularity,100),100)}}%
          </p>
          <p>{{</p>
          <ul class="list-inline list-unstyled">
  			<li><span><i class="glyphicon glyphicon-calendar"></i> 2 days, 8 hours </span></li>
            <li>|</li>
            <span><i class="glyphicon glyphicon-comment"></i> 2 comments</span>
            <li>|</li>
            <li>
               <span class="glyphicon glyphicon-star"></span>
                        <span class="glyphicon glyphicon-star"></span>
                        <span class="glyphicon glyphicon-star"></span>
                        <span class="glyphicon glyphicon-star"></span>
                        <span class="glyphicon glyphicon-star-empty"></span>
            </li>
            <li>|</li>
            <li>
            <!-- Use Font Awesome http://fortawesome.github.io/Font-Awesome/ -->
              <span><i class="fa fa-facebook-square"></i></span>
              <span><i class="fa fa-twitter-square"></i></span>
              <span><i class="fa fa-google-plus-square"></i></span>
            </li>
			</ul>
       </div>
    </div>
  </div>{{:~log('big')}}
                <div class="row"> {{:~log('start row')}}
            {{/if}}
            {{if !(~mulOf(#getIndex(),3) && #getIndex() != 0) || (~len < 4 || ~len==1)}}
                 <div class="col-md-6">
                  <div class="product-item">
                    <div class="pi-img-wrapper">
                      <img src="{{:image}}" class="img-responsive" alt="">
                      <div>
                        <a href="#" class="btn">Zoom</a>
                        <a href="#" class="btn">View</a>
                      </div>
                    </div>
                    <h3><a href="shop-item.html">{{:name}}</a></h3>
                    <div class="pi-price">Popularity {{:~mul(~div(popularity,100),100)}}%</div>
                    <a href="/hotel/findOne/{{:hotel_id}}?detailsUrl={{:detailsUrl}}&provider=skyscanner"><button class="btn btn-info pull-right viewDetailsBtn"> View details </button></a>
                    <div class="sticker sticker-new"></div>
                </div>
                </div>
                {{:~log('col 4')}}
                {{if ~len==1 || #getIndex()==~sub(~len,1)}}
                    </div> {{:~log('end row')}}
                {{/if}}
            {{/if}}
{{/for}}
</script>


<script>
  function loadScript() {
      var pageIndex = 0;
      var nextUrlToPoll = null;
      var pageSize = 15;
      var imageLimit = 10;
      var availableResults = 0;


      function displayHotels(res){
          const result = res.result;
          const sessionObject = res.sessionObject;

          console.log('Session object:')
          console.log(sessionObject);

          if(result.status != "COMPLETE") return;

                          $('#loadMoreResults').removeClass('hide');

                          const hotelListings = window.seatfilla.globals.response
                              .skyscannerAPI.mapHotelAPIResponse(result, {
                                  smallestWidth: 600,
                                  smallestHeight: 600
                              });

                          console.log('hotelListings:')
                          //Log for debug
                          console.log(hotelListings);

                          if (hotelListings && hotelListings.hotels &&
                              hotelListings.hotels.length > 0 &&
                              hotelListings.urls &&
                              hotelListings.urls['hotel_details']
                          ) {
                              var tmpl = $.templates("#list-item-template");

                             const displayableHotels = hotelListings.hotels.filter(function(hotel) {

                                      //Only display if we definitely have an image
                                      if (!Array.isArray(hotel.images) || (hotel.images.length == 0)) {
                                          return false;
                                      }

                                      hotel.image = 'http://' + hotel.images[0].imagePath;
                                      hotel.detailsUrl = hotelListings.urls['hotel_details'];

                                      return true;
                             })

                             if(displayableHotels.length){
                                const html = tmpl.render({
                                    hotels: displayableHotels,
                                    sessionObject
                                }, {
                                    stringify(obj) {
                                        return JSON.stringify(obj);
                                    }
                                });
                                availableResults = result.total_hotels;
                                $('#hotelListings').append(html);

                             }else{
                                 console.log('Hiding load more results , !displayableHotels.length')
                                $('#loadMoreResults').addClass('hide')
                             }

                          } else if(availableResults <= 0){
                              console.log('no results;')
                              console.log(hotelListings)
                              $('#loadMoreResults').addClass('hide')

                          }

                     $.waitingDialog.hide();
      }

      //Polls the sky scanner session
      function pollSession(nextPollUrl, pageIndex) {
          $('#loadMoreResults').removeClass('hide');
          const sessionObject = this;
          console.log('Polling ' + nextPollUrl + ', page: ' + pageIndex);
          $.ajax({
              method: 'POST',
              url: '/hotel/pollSkyScannerSession',
              data: {
                  nextPollUrl,
                  pageIndex,
                  pageSize: pageSize,
                  imageLimit: imageLimit,
              },
              success: function(result, s, xhr) {
                  if (xhr.status == 200 && result && result.body) {
                      if (result.body.status != "COMPLETE") {
                          console.log('Not complete: ')
                          console.log(result);
                          pollSession.call(sessionObject,result.nextPollUrl,pageIndex);
                      } else {
                          console.log('Complete:')
                          console.log(result);
                          displayHotels({result:result.body,sessionObject});
                      }
                      nextUrlToPoll = result.nextPollUrl || nextPollUrl;

                  } else {
                      $.toaster({
                          priority: 'danger',
                          message: 'Error making request to server.'
                      });
                      console.log('Status: ' + xhr.status);
                      console.log('Result: ' + JSON.stringify(result));
                  }
              }
          });
      }

      function attachDomEventListeners(result) {
          function attach() {
              $('#loadMoreResults').on('click', function() {
                  availableResults -= pageSize;
                  pollSession.call(result.buildSessionObject,nextUrlToPoll, pageIndex++)
              })

              $('#hotelListings').on('click','.viewDetailsBtn',function(){
                  $.waitingDialog.show();
              })
          }

          if (document.readyState != 'loading') {
              attach();
          } else {
              $(document).ready(attach);
          }
      }

      //Makes the intial request
      function initiateSession() {
          $('#hotelListings').html("");

          const city = $('#city').val() || "<%= data.params.city || '' %>";
          const country = $('#country').val() || "<%= data.params.country || '' %>";
          const numRooms = $('#numRooms').val() || "<%= data.params.numRooms || '' %>"
          const numGuests = $('#numGuests').val() || "<%= data.params.numGuests || '' %>"
          const checkoutdate = $('#checkOutDate').val() || "<%= data.params.checkOutDate || '' %>"
          const checkindate = $('#checkInDate').val() || "<%= data.params.checkInDate || '' %>"

          var message;

          if(city || country){
              message = 'Finding hotels in ' + (city || country);
          }else{
              message = 'Loading results based on your location';
          }

          $.waitingDialog.show(message);

          function makeRequest(results) {
              if(!results.length) throw new Error('Invalid params')

              const data = {}

              if (results[0]) data.userLocation = results[0];

              if (results[1]) data.prefferedCurrency = results[1];

              if(city) data.city = city;

              if(country) data.country = country;

              if($('#hotelPlaceSuggestions').val()) data.entityId = $('#hotelPlaceSuggestions').val();

              const today = moment().toISOString();
              const checkInDate = moment(checkindate || moment().add('1','days')).toISOString()
              const checkOutDate = moment(checkoutdate || moment().add('8','days')).toISOString()

              if(moment(checkInDate).isBefore(today)){
                $.toaster({priority:'warning',message:'check in date must be before check out date'})
                return;
              }

              if(moment(checkInDate).isAfter(checkOutDate)){
                $.toaster({priority:'warning',message:'check in date must be before check out date'})
                return;
              }

              data.dates = {
                checkindate:checkInDate,
                checkoutdate:checkOutDate
              }

              data.numberOfGuests = numGuests || 1;
              data.numRooms = numRooms || 1;

              console.log('Sending: ');
              console.log(data);

              $.ajax({
                  method: 'POST',
                  url: '/hotel/retrieveSkyScannerListings',
                  data,
                  success: function(result, s, xhr) {
                      if (xhr.status == 200 && result) {
                          console.log(result);
                          console.log(result.initiateSession.nextPollUrl);
                           if(result.retrieveMostReleventHotel &&
                            Array.isArray(result.retrieveMostReleventHotel.suggestions)){

                            $('#hotelPlaceSuggestions').html("");
                            result.retrieveMostReleventHotel.suggestions.forEach(function(suggestion){
                                $('#hotelPlaceSuggestions').append($('<option></option>',
                                {value:suggestion['individual_id'],
                                text:suggestion['display_name']}))
                            })
                            $('hotelPlaceSuggestions').val(result.retrieveMostReleventHotel.mostRelevent);
                          }

                          if(result.initiateSession.body.status != 'COMPLETE'){
                                pollSession.call(result.buildSessionObject,result.initiateSession.nextPollUrl,pageIndex++)
                          }else{
                                nextUrlToPoll = result.initiateSession.nextPollUrl;
                                displayHotels(
                                  {
                                    result:result.initiateSession.body,
                                    sessionObject:result.buildSessionObject
                                  });
                          }
                          attachDomEventListeners(result);
                      } else {
                          console.log(result);
                          alert('Error creating session')
                      }
                  }
              })
            const where = {
              countryCode:data.userLocation.countryCode,
              checkOutDate:data.dates.checkindate,
              checkInDate:data.dates.checkoutdate,
              numberOfGuests:data.numberOfGuests,
              numberOfRooms:data.numRooms,
              prefferedCurrency:data.prefferedCurrency
            }
            /*$.ajax({
                  method: 'GET',
                  url: '/hotelsearch?populate=hotels&where=' + JSON.stringify(where),
                  success: function(result, s, xhr) {
                  }
            })*/
          }
          Promise.all([
              new Promise(function(resolve, reject) {
                  window.seatfilla.globals.geolocation.getUserLocation(function(status, userLocation) {
                      if (status == 200 && userLocation) {
                          return resolve(userLocation);
                      } else {
                          return resolve(null);
                      }
                  })
              }),
              new Promise(function(resolve, reject) {
                  window.seatfilla.globals.locale.getPrefferedCurrency(function(status, currency) {
                      if (status == 200 && currency) {
                          return resolve(currency);
                      } else {
                          return reject(null);
                      }
                  })
              }),
          ]).then(makeRequest).catch(function(err) {
              console.log(err);
          })
      }
      initiateSession();
  }


  $('#flight-search-details').load('/ajax/hotel-search-nav.ejs', function finished() {
            $('checkInDate').val(moment().add('1','days').format('YYYY-MM-DD'));
            $('checkOutDate').val(moment().add('7','days').format('YYYY-MM-DD'));
            $('#searchHotels').on('click',function(){
                loadScript();
            })
            $('#country').on('change',function(){
                 $('#hotelPlaceSuggestions').html("");
            })
            loadScript();
      });
</script>
<div class="container-fluid">
        <!--<div class="progressNotification">
		<p>Fetching some results based on what we can decipher, please wait</p>

        <div class="progress progress-striped active page-progress-bar">
            <div class="progress-bar" style="width: 100%;"></div>
        </div>
        </div>-->
<div class="">
	<div id="hotelListings">
	</div>
    <br/>
    <button id="loadMoreResults" class="btn btn-info btn-block hide">More</button>
</div>
</div>

