
<style>

.sf-item {
    margin-bottom: 25px;
}

.panel{
	background-image:none;
}

nav.left-nav {

  width: 100%;
  height: 100%;
  position: fixed;
  left: 0;
  top: 0;
}
nav.left-nav ul {
	background-color: #14B9FF;
  width: 250px;
  margin-top: 50px;
	display:none;
	height:100%;
}
nav.left-nav ul:hover li {
  color: rgba(255, 255, 255, 0.5);

}
nav.left-nav ul li {
  transition-duration: 0.25s;
  display: block;
  color: white;
  letter-spacing: 0.02em;
  text-align: center;
	padding:20px;
}
nav.left-nav ul li:hover {
  cursor: pointer;
  color: white;
}
.openNav {
  transition-duration: 0.5s;
  transition-timing-function: swing;
  min-width: 50px;
  min-height: 50px;
	width:40px;
  background-color: #14B9FF;
  position: fixed;
	top:5px;
  left: 52px;
  z-index: 9;
	border-radius:30px;
}
.openNav:hover {
  cursor: pointer;
}
.openNav .icon {
  transition-duration: 0.2s;
  position: absolute;
  width: 30px;
  height: 2px;
  background-color: white;
  top: 24px;
  left: 10px;
}
.openNav .icon:before,
.openNav .icon:after {
  transition-duration: 0.5s;
  background-color: white;
  position: absolute;
  content: "";
  width: 30px;
  height: 2px;
  left: 0px;
}
.openNav .icon:before {
  top: -7px;
}
.openNav .icon:after {
  top: 7px;
}
.openNav.open {

}
.openNav.open .icon {
  background-color: transparent;
}
.openNav.open .icon:before,
.openNav.open .icon:after {
  top: 0;
}
.openNav.open .icon:before {
  transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
}
.openNav.open .icon:after {
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
}
.navOpen {
  overflow: hidden;
}
.wrapper {
  transition-duration: 0.5s;
  transition-timing-function: swing;
  width: 100%;
  height: 100%;
  position: relative;

}
.wrapper.open {
  transform: translateX(250px);
  -webkit-transform: translateX(250px);
  box-shadow: 0 0 50px rgba(0, 0, 0, 0.2);
}

/*  bhoechie tab */
div.seatfilla-container{
  z-index: 1;
  width:100%;
  padding: 0 !important;
  border:3px solid white;
	background-color:white;
  -webkit-box-shadow: 0 6px 12px rgba(0,0,0,.175);
  box-shadow: 0 6px 12px rgba(0,0,0,.175);
  -moz-box-shadow: 0 6px 12px rgba(0,0,0,.175);
  background-clip: padding-box;
	background-color: #14B9FF;
  opacity: 1;
	border-radius:5px;
	max-height:306px;
	overflow:hidden;
}
div.seatfilla-menu{
  padding-right: 0;
  padding-left: 0;
  padding-bottom: 0;
	border-radius:3px;
	border-radius:5px;
}

div.seatfilla-menu ul.list-group{
  margin-bottom: 0;
  list-style:none;
	min-height:100%;
	width:100%;
	margin:auto;
	background-color:white;
}
div.seatfilla-menu ul.list-group>a{
  margin-bottom: 0;
  text-align:left;
}
div.seatfilla-menu ul.list-group>a .glyphicon,
div.seatfilla-menu ul.list-group>a .fa {
     color: #14B9FF;
		 text-align:center;
		 margin:auto;
}
div.seatfilla-menu ul.list-group>a:first-child{
  border-top-right-radius: 0;
  -moz-border-top-right-radius: 0;
}
div.seatfilla-menu ul.list-group>a:last-child{
  border-bottom-right-radius: 0;
  -moz-border-bottom-right-radius: 0;
}
div.seatfilla-menu ul.list-group>a.active,
div.seatfilla-menu ul.list-group>a.active .glyphicon,
div.seatfilla-menu ul.list-group>a.active .fa{
  background-color: #004c99;
  background-image: #5A55A3;
  color: #ffffff;
}
div.seatfilla-menu ul.list-group>a.active:after{
  content: '';
  position: absolute;
  left: 100%;
  top: 50%;
  margin-top: -13px;
  border-left: 0;
  border-bottom: 13px solid transparent;
  border-top: 13px solid transparent;
  border-left: 10px solid #5A55A3;
}

.trip-plan-items .list-group-item{
	text-align:center;
	text-decoration:none;
	font-size:20px;
	color:black;
	background-color:white;
	max-height:150px;
	padding:60px;
}

div.seatfilla-content{
  /* border: 1px solid #eeeeee; */
  padding-left: 20px;
  padding-top: 10px;
}

div.seatfilla div.seatfilla-content:not(.active){
  display: none;
}

.seatfilla-content input{
	padding:10px;
	margin-top:20px;
	margin-bottom:10px;

}
.seatfilla-content select{
	padding:10px;
	margin-top:20px;
	margin-bottom:10px;
	color:white;
}

    .list {
			height: 60vh;
			position: relative;
			width: 100%;
		}

		.bid-list{
			height: inherit;
			width: 100%;
			overflow: hidden;
		}

		.bid-list a {
			width: 100%;
			text-decoration: none;
			display: block;
			color: #000;
		}

		.list-control {
			position: absolute;
			width: 100%;
			left: 0;
			font-size: 20px;
			color: #fff;
			text-align: center;
			text-shadow: 0 1px 2px rgba(0,0,0,.6);
			background-color: rgba(0,0,0,0);
			filter: alpha(opacity=50);
			opacity: .4;
		}
		.list .up{
			top: 0;

		}

		.list .up:hover{
			top: 0;

		}
		.list .down{
			bottom: 0;

		}

		.list .down:hover{
			bottom: 0;
		}

		.control-height{
			height: 45px;
		}

		.list .list-group{
			margin-bottom: 0;
		}

		.arrow{
			top: 13px;
		}
		.bigdrop {
    width: 600px !important;
}
</style>


<script>

$(document).ready(function(){
     (function(){
       $('#lod').load('/ajax/flight-search-nav.ejs', function finished() {
           $.inputHookInit();
       })
})()
	var open = false;

	function toggleNav(){
		$("body").toggleClass("navOpen");
		$("nav").toggleClass("open");
		$(".wrapper").toggleClass("open");
		$("nav.left-nav ul").toggle();
		$('.openNav').toggleClass("open");
		open = !open;
		if(open){
			console.log('opened');
			setTimeout(function(){
							$(document).on('click',toggleNav);
			},500)
		}else{
			console.log('closed');
			$(document).off('click');
		}
	}
	$(".openNav").click(toggleNav);

var step = 100;
var scrolling = false;

// Wire up events for the 'scrollUp' link:
$(".up").bind("click", function(event) {
    event.preventDefault();
    // Animates the scrollTop property by the specified
    // step.
    $(".bid-list").animate({
        scrollTop: "-=" + step + "px"
    });
}).bind("mouseover", function(event) {
    scrolling = true;
    scrollContent("up");
}).bind("mouseout", function(event) {
    scrolling = false;
});


$(".down").bind("click", function(event) {
    event.preventDefault();
    $(".bid-list").animate({
        scrollTop: "+=" + step + "px"
    });
}).bind("mouseover", function(event) {
    scrolling = true;
    scrollContent("down");
}).bind("mouseout", function(event) {
    scrolling = false;
});

	$('.js-data-example-ajax').select2({
    minimumInputLength: 2,
		placeholder:'Search users',
    ajax: {
        url: '/user/find',
        dataType: 'json',
        type: "GET",
        quietMillis: 50,
        data: function (term) {
            return 'where='+JSON.stringify({username:{contains:term.term}});
        },
				processResults: function (data, params) {
						console.log(data);
						return {
							results: data,
							pagination: {
								more: false
							}
						};
					},
					cache: true
				},
				escapeMarkup(markup){
					return markup;
				},
				templateResult: function(data){
					return 	'<a href="/UserProfile/' + data.username + '"/>' +
					'<div class="panel panel-info">' +
					'<div class="panel-body">' +
					 data.username +
					'</div></div></a>'
				},

				width: 'resolve',
				dropdownAutoWidth : true
    });
})


</script>
</head>



<body>

   <%- partial ('partials/nav.ejs') %>
<nav class="left-nav">
  <ul>
    <li>Home</li>
    <li>Products</li>
    <li>Shopping Cart</li>
    <li>Contact</li>
  </ul>
</nav>

<div class="wrapper">
 	 											
<section id="top" class="site-wrapper" style="height:100vh;">

    <div class="site-wrap">

       

        <div class="container">
            <div style="margin-top:150px;">
          <h4 class="text-white wow fadeInRightBig">Get where you need to go</h4>

        <div class="container wow fadeInLeftBig">
             <div class="row">
                <div class="panel panel-default" style="border-color:lightblue;border-style:solid;border-width:2px;">
                    <div  id="lod" class="panel-body">
                    
                    </div>
                </div>
       
            </div>
        </div>
    </div>
  </div>
</div>
</section>
</paper-material>

<div id="sponsor">
    <div class="container">
        <div class="row sponsor text-center wow fadeInLeft">
            <div class="col-md-2 gray col-md-offset-1">
                <a href="/"><img src="https://victorops.com/wp-content/uploads/2016/01/Skyscanner-Logo-EPS-vector-image.png" alt=""></a>
            </div>
            <div class="col-md-2">
                <a href="/"><img src="https://nodejs.org/static/images/logos/nodejs-new-pantone-black.png" alt=""></a>
            </div>
            <div class="col-md-2">
                <a href="/"><img src="http://logok.org/wp-content/uploads/2014/10/Getty-Images-logo.png" alt=""></a>
            </div>
            <div class="col-md-2"><br/>
                <a href="/"><img src="https://upload.wikimedia.org/wikipedia/en/thumb/4/42/Expedia_logo.svg/1024px-Expedia_logo.svg.png" alt=""></a>
            </div>
            <div class="col-md-2">
                <a href=""><img src="http://sailsjs.com/images/logos/sails-logo_ltBg_ltBlue.png" alt=""></a>
            </div>
        </div>
    </div>
</div>


<section id="" class="section_img section-full">

<div class="portfolio wow fadeIn container">
    <div class="container-fluid text-center">
		<h2 class="">Check out these offers in your area</h2>
		<div class="container-fluid">
            <div id="flights-2" class="carousel slide wow fadeInRight">

                <!-- Carousel items -->
                <div class="carousel-inner">

							<% (function loadItems1(){for(var i = 0; i < 12 && data.images.length;i+=4){ %>
											<%if(i==0){%>
											 <div class="item active">
											<%}else{%>
											 <div class="item">
											<%}%>
											<div class="row">
											<%for(var j = i; (j < i+4) && (j < data.images.length);j++){%>
												      <div class="col-sm-6 col-md-6 col-lg-3 sf-item no-pad">
															<a data-target="#seatfillaModal2" class="link" data-toggle="modal">
																	<div class="caption">
																			<div class="caption-content">
																					Project Title 2
																			</div>
																	</div>
																	<img src="<%=data.images[j].displaySizeImage%>" class="img img-responsive" style="min-width:250px;max-width:250px;min-height:300px;max-height:300px;" alt="">
															</a>
													</div>
										<%}%>
											</div>
											</div>
								<%}})()%>


                </div>
                		<div class="" style="width:110%;position:absolute;bottom:50%;">
							 <div class="col-xs-6">
								</div>
								<div class="col-xs-6" style="">
                <a class="right" style="" href="#flights-3"  data-slide="next">
									<i class="fa fa-arrow-right fa-3x" aria-hidden="true"></i>
								</a>
								</div>
						</div>

            </div>
            <!--/myCarousel-->
        </div>

				<div class="container-fluid">
            <div id="flights-2" class="carousel slide wow fadeInLeft">

                <!-- Carousel items -->
                <div class="carousel-inner">

							<% (function loadItems2(){for(var i = 12; i < 24 && i < data.images.length;i+=4){ %>
											<%if(i==12){%>
											 <div class="item active">
											<%}else{%>
											 <div class="item">
											<%}%>
											<div class="row">
											<%for(var j = i; (j < i+4) && (j < data.images.length);j++){%>
												      <div class="col-sm-6 col-md-6 col-lg-3 sf-item no-pad">
															<a data-target="#seatfillaModal2" class="link" data-toggle="modal">
																	<div class="caption">
																			<div class="caption-content">
																					Project Title 2
																			</div>
																	</div>
																	<img src="<%=data.images[j].displaySizeImage%>" class="img img-responsive" style="min-width:250px;max-width:250px;min-height:300px;max-height:300px;" alt="">
															</a>
													</div>
										<%}%>
											</div>
											</div>
								<%}})()%>


                </div>
                <div class="" style="width:110%;position:absolute;bottom:50%;">
							 <div class="col-xs-6">
								</div>
								<div class="col-xs-6" style="">
                <a class="right" style="" href="#flights-3"  data-slide="next">
									<i class="fa fa-arrow-right fa-3x" aria-hidden="true"></i>
								</a>
								</div>
						</div>

            </div>
            <!--/myCarousel-->
        </div>


				<div class="container-fluid">
            <div id="flights-3" class="carousel slide wow fadeInRight">

                <!-- Carousel items -->
                <div class="carousel-inner">

							<% (function loadItems3(){

								for(var i = 24; i < 36 && data.images.length;i+=4){ %>

											<%if(i==24){%>
											 <div class="item active">
											<%}else{%>
											 <div class="item">
											<%}%>
											<div class="row">
											<%for(var j = 0; (j < 4) && (j + i < data.images.length);j++){%>

												      <div class="col-sm-6 col-md-6 col-lg-3 sf-item no-pad">
															<a data-target="#seatfillaModal2" class="link" data-toggle="modal">
																	<div class="caption">
																			<div class="caption-content">
																					Project Title 2
																			</div>
																	</div>
																	<img src="<%=data.images[j+i].displaySizeImage%>" class="img img-responsive" style="min-width:250px;max-width:250px;min-height:300px;max-height:300px;" alt="">
															</a>
													</div>
										<%}%>
											</div>
											</div>
								<%}})()%>


                </div>

							<div class="" style="width:110%;position:absolute;bottom:50%;">
							 <div class="col-xs-6">
								</div>
								<div class="col-xs-6" style="">
                <a class="right" style="" href="#flights-3"  data-slide="next">
									<i class="fa fa-arrow-right fa-3x" aria-hidden="true"></i>
								</a>
								</div>
						</div>


            </div>
            <!--/myCarousel-->
        </div>

    </div>
</div>

<div class="work">
    <div class="sf-modal modal fade" id="seatfillaModal1" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-content">
            <div class="backgrid" data-dismiss="modal">
                <i class="icon ion-grid size-48"></i>
            </div>
            <div class="close-modal" data-dismiss="modal">
                <i class="icon ion-ios-close-empty size-96"></i>
            </div>
            <div class="container">

                <div class="row">
                    <div class="col-md-8">
                        <img src="" class="img-responsive img-centered" alt="">
                        <div class="embed-responsive embed-responsive-16by9">
                            <iframe src="https://player.vimeo.com/video/64254212" allowfullscreen></iframe>
                        </div>
                    </div>
                    <div class="col-md-4">
                  
                        <button type="button" class="border-button-black" data-dismiss="modal">CLOSE</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="sf-modal modal fade" id="seatfillaModal2" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-content">
            <div class="backgrid" data-dismiss="modal">
                <i class="icon ion-grid size-48"></i>
            </div>
            <div class="close-modal" data-dismiss="modal">
                <i class="icon ion-ios-close-empty size-96"></i>
            </div>
            <div class="container">
                <h2>Flight deal</h2>
                <hr>
                <div class="row">
                    <div class="col-md-8">
                        <img src="" class="img-responsive img-centered" alt="">
                        <div class="embed-responsive embed-responsive-16by9">
                            <iframe src="" allowfullscreen></iframe>
                        </div>
                    </div>
                    <div class="col-md-4">
                        
                        <button type="button" class="border-button-black" data-dismiss="modal">CLOSE</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="sf-modal modal fade" id="seatfillaModal3" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-content">
            <div class="backgrid" data-dismiss="modal">
                <i class="icon ion-grid size-48"></i>
            </div>
            <div class="close-modal" data-dismiss="modal">
                <i class="icon ion-ios-close-empty size-96"></i>
            </div>
            <div class="container">
                <h2>Flight deal</h2>
                <hr>
                <div class="row">
                    <div class="col-md-8">
                        <img src="img/portfolio/3.jpg" class="img-responsive img-centered" alt="">
                        <div class="embed-responsive embed-responsive-16by9">
                            <iframe src="https://player.vimeo.com/video/78937043" allowfullscreen></iframe>
                        </div>
                    </div>
                    <div class="col-md-4">
              
                        <button type="button" class="border-button-black" data-dismiss="modal">CLOSE</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="sf-modal modal fade" id="seatfillaModal4" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-content">
            <div class="backgrid" data-dismiss="modal">
                <i class="icon ion-grid size-48"></i>
            </div>
            <div class="close-modal" data-dismiss="modal">
                <i class="icon ion-ios-close-empty size-96"></i>
            </div>
            <div class="container">
                <h2></h2>
                <hr>
                <div class="row">
                    <div class="col-md-8">
                        <img src="" class="img-responsive img-centered" alt="">
                        <div class="embed-responsive embed-responsive-16by9">
                            <iframe src="https://player.vimeo.com/video/64254212" allowfullscreen></iframe>
                        </div>
                    </div>
                    <div class="col-md-4">
                       
                        <button type="button" class="border-button-black" data-dismiss="modal">CLOSE</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="sf-modal modal fade" id="seatfillaModal5" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-content">
            <div class="backgrid" data-dismiss="modal">
                <i class="icon ion-grid size-48"></i>
            </div>
            <div class="close-modal" data-dismiss="modal">
                <i class="icon ion-ios-close-empty size-96"></i>
            </div>
            <div class="container">
                <h2></h2>
                <hr>
                <div class="row">
                    <div class="col-md-8">
                        <img src="" class="img-responsive img-centered" alt="">
                        <img src="" class="img-responsive img-centered" alt="">
                    </div>
                    <div class="col-md-4">
                        
                        <button type="button" class="border-button-black" data-dismiss="modal">CLOSE</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="sf-modal modal fade" id="seatfillaModal6" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-content">
            <div class="backgrid" data-dismiss="modal">
                <i class="icon ion-grid size-48"></i>
            </div>
            <div class="close-modal" data-dismiss="modal">
                <i class="icon ion-ios-close-empty size-96"></i>
            </div>
            <div class="container">
                <h2></h2>
                <hr>
                <div class="row">
                    <div class="col-md-8">
                        <img src="" class="img-responsive img-centered" alt="">
                        <div class="embed-responsive embed-responsive-16by9">
                            <iframe src="https://player.vimeo.com/video/126783354" allowfullscreen></iframe>
                        </div>
                    </div>
                    <div class="col-md-4">
                        
                        <button type="button" class="border-button-black" data-dismiss="modal">CLOSE</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="sf-modal modal fade" id="seatfillaModal7" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-content">
            <div class="backgrid" data-dismiss="modal">
                <i class="icon ion-grid size-48"></i>
            </div>
            <div class="close-modal" data-dismiss="modal">
                <i class="icon ion-ios-close-empty size-96"></i>
            </div>
            <div class="container">
                <h2></h2>
                <hr>
                <div class="row">
                    <div class="col-md-8">
                        <img src="" class="img-responsive img-centered" alt="">
                    </div>
                    <div class="col-md-4">
                        
                        <button type="button" class="border-button-black" data-dismiss="modal">CLOSE</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="sf-modal modal fade" id="seatfillaModal8" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-content">
            <div class="backgrid" data-dismiss="modal">
                <i class="icon ion-grid size-48"></i>
            </div>
            <div class="close-modal" data-dismiss="modal">
                <i class="icon ion-ios-close-empty size-96"></i>
            </div>
            <div class="container">
                <h2></h2>
                <hr>
                <div class="row">
                    <div class="col-md-8">
                        <img src="" class="img-responsive img-centered" alt="">
                    </div>
                    <div class="col-md-4">
                       
                        <button type="button" class="border-button-black" data-dismiss="modal">CLOSE</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="sf-modal modal fade" id="seatfillaModal9" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-content">
            <div class="backgrid" data-dismiss="modal">
                <i class="icon ion-grid size-48"></i>
            </div>
            <div class="close-modal" data-dismiss="modal">
                <i class="icon ion-ios-close-empty size-96"></i>
            </div>
            <div class="container">
                <h2></h2>
                <hr>
                <div class="row">
                    <div class="col-md-8">
                        <img src="" class="img-responsive img-centered" alt="">
                    </div>
                    <div class="col-md-4">
                        
                        <button type="button" class="border-button-black" data-dismiss="modal">CLOSE</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="sf-modal modal fade" id="seatfillaModal10" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-content">
            <div class="backgrid" data-dismiss="modal">
                <i class="icon ion-grid size-48"></i>
            </div>
            <div class="close-modal" data-dismiss="modal">
                <i class="icon ion-ios-close-empty size-96"></i>
            </div>
            <div class="container">
                <h2></h2>
                <hr>
                <div class="row">
                    <div class="col-md-8">
                        <img src="" class="img-responsive img-centered" alt="">
                    </div>
                    <div class="col-md-4">
                       
                        <button type="button" class="border-button-black" data-dismiss="modal">CLOSE</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="sf-modal modal fade" id="seatfillaModal11" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-content">
            <div class="backgrid" data-dismiss="modal">
                <i class="icon ion-grid size-48"></i>
            </div>
            <div class="close-modal" data-dismiss="modal">
                <i class="icon ion-ios-close-empty size-96"></i>
            </div>
            <div class="container">
                <h2></h2>
                <hr>
                <div class="row">
                    <div class="col-md-8">
                        <img src="" class="img-responsive img-centered" alt="">
                    </div>
                    <div class="col-md-4">
                        
                        <button type="button" class="border-button-black" data-dismiss="modal">CLOSE</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="sf-modal modal fade" id="seatfillaModal12" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-content">
            <div class="backgrid" data-dismiss="modal">
                <i class="icon ion-grid size-48"></i>
            </div>
            <div class="close-modal" data-dismiss="modal">
                <i class="icon ion-ios-close-empty size-96"></i>
            </div>
            <div class="container">
                <h2></h2>
                <hr>
                <div class="row">
                    <div class="col-md-8">
                        <img src="" class="img-responsive img-centered" alt="">
                    </div>
                    <div class="col-md-4">
                        
                        <button type="button" class="border-button-black" data-dismiss="modal">CLOSE</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</section>






   <section id="features">
    <div class="container-fluid text-center wow fadeInRight">
        <div class="row">
            <div class="col-md-8 col-md-offset-2">
                <h2></h2>
                <p class="lead"></p>
            </div>
        </div>
        <div class="col-md-10 col-md-offset-1">
            <div class="row">
                <div class="col-lg-9 wow fadeInLeft" data-wow-delay="0.2s" data-wow-duration="2s">
                    <div class="row">
                        <div class="col-sm-4 wow fadeIn">
                            <h1><i class="icon icon-heading ion-plane size-64"></i>Cheap flights<sup><span class="label label-danger ">New</span></sup></h1>
                            <p>Find cheap flights </p>
                        </div>
                        <div class="col-sm-4">
                            <h1><i class="icon icon-heading ion-ios-search size-64"></i> Cheap hotels</h1>
                            <p>Find cheap hotels</p>
                        </div>
                        <div class="col-sm-4">
                            <h1><i class="icon icon-heading ion-thumbsup size-64"></i>Free</h1>
                            <p>It's completely free!</p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-4">
                            <h1><i class="icon icon-heading ion-speedometer size-64"></i>Fast</h1>
                            <p>So you get to where you want to be fast</p>
                        </div>
                        <div class="col-sm-4">
                            <h1><i class="icon icon-heading ion-ios-body size-64"></i>User friendly</h1>
                            <p> Clean Design focused on good readability</p>
                        </div>
                        <div class="col-sm-4">
                            <h1><i class="icon icon-heading ion-iphone size-64"></i> Responsive</h1>
                            <p>Works on all screen resolutions </p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3">
                    <img src="images/iphone_6.png" class="img-features2 wow  fadeInRight" data-wow-delay="0.2s" data-wow-duration="2s" alt="responsive">
                </div>
            </div>
        </div>
    </div>
</section>


   <section id="action">
    <div class="container">
        <div class="row">
            <div class="col-xs-12 text-center wow fadeIn">
                <i class="icon icon-heading ion-paper-airplane size-96 fa-opacity"></i>
                <br>
                <h2 class="text-white">Dont forget to sign up to our news letter!</h2>
                <p class="lead text-white">
                    <b>Recieve the lastest updates on flight deals!</b>
                </p>
            </div>
        </div>
    </div>
</section>


<section id="contact">
    <div class="container wow fadeIn">
        <div class="row">
            <div class="col-md-6">
                <h2>contact<span class="thin">us</span></h2>
                <p class="lead text-muted">Feel free to contact us regarding any inquiries!</p>
                <h3><i class="icon ion-android-call"></i> (+64) xxxx-xxxx-xxxx</h3>
                <h4 class="lead text-muted"><i class="icon ion-android-mail"></i> admin@seatfilla.com<br>
                    <i class="icon ion-ios-location"></i>xxxxx xxxxx Auckland, NZ</h4>
            </div>
            <div class="col-md-5 col-md-offset-1">
                <h2>Say<span class="thin">hello</span></h2>
                <!-- Contact Form - Enter your email address on line 17 of the mail/contact_me.php file to make this form work. -->
                <!-- WARNING: Some web hosts do not allow emails to be sent through forms to common mail hosts like Gmail or Yahoo. It's recommended that you use a private domain email address! -->
                <!-- NOTE: To use the contact form, your site must be on a live web host with PHP! The form will not work locally! -->
                <form name="sentMessage" id="contactForm" novalidate>
                    <div class="control-group">
                        <div class="form-group floating-label-form-group controls">
                            <label for="name" class="sr-only control-label">You Name</label>
                            <input type="text" class="form-control input-lg" placeholder="You Name" id="name" required data-validation-required-message="Please enter name">
                            <span class="help-block text-danger"></span>
                        </div>
                    </div>
                    <div class="control-group">
                        <div class="form-group floating-label-form-group controls">
                            <label for="email" class="sr-only control-label">You Email</label>
                            <input type="email" class="form-control input-lg" placeholder="You Email" id="email" required data-validation-required-message="Please enter email">
                            <span class="help-block text-danger"></span>
                        </div>
                    </div>
                    <div class="control-group">
                        <div class="form-group floating-label-form-group controls">
                            <label for="phone" class="sr-only control-label">You Phone</label>
                            <input type="tel" class="form-control input-lg" placeholder="You Phone" id="phone" required data-validation-required-message="Please enter phone number">
                            <span class="help-block text-danger"></span>
                        </div>
                    </div>
                    <div class="control-group">
                        <div class="form-group floating-label-form-group controls">
                            <label for="message" class="sr-only control-label">Message</label>
                            <textarea rows="2" class="form-control input-lg" placeholder="Message" id="message" required="" data-validation-required-message="Please enter a message." aria-invalid="false"></textarea>
                            <span class="help-block text-danger"></span>
                        </div>
                    </div>
                    <div id="success"></div>
                    <button type="submit" class="btn border-button-black">Send</button>
                </form>
            </div>
        </div>
    </div>
</section>



 </div>



<%- partial ('partials/footer.ejs') %>
</body>
