    <!DOCTYPE HTML>
    <html>
    <head>
    <title><%= data && data.title || "Seatfilla.com" %></title>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <meta property="og:url"           content="<%= data &&  data.url || 'http://seatfilla.com' %> " />
	<meta property="og:type"          content="<%= data &&  data.type || 'article' %>"/>
	<meta property="og:title"         content="<%= data &&  data.title || 'Cheap hotel at Seatfilla' %>" />
	<meta property="og:description"   content="<%= data &&  data.description || 'Check out this amazing hotel!' %>" />
	<meta property="og:image"         content="<%= data &&  data.image || 'http://wwww.seatfilla.com/images/Logo.png' %>" />

    <!--SCRIPTS-->
    <script src="/js/dependencies/sails.io.js"></script>
    <script src="/bower_components/jquery/dist/jquery.min.js"></script>
    <script src="/bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
    <script src="/bower_components/select2/dist/js/select2.full.min.js"></script>
    <script src="/bower_components/jsRender/jsrender.min.js"></script>
    <script src="/bower_components/moment/min/moment-with-locales.min.js"></script>
    <script src="/js/dependencies/airport-data2.js"></script>
    <script src="/js/dependencies/ajax-form.js"></script>
    <script src="/js/dependencies/chat.js"></script>
    <script src="/js/dependencies/device.min.js"></script>
    <script src="/js/dependencies/facebook.js"></script>
    <script src="/js/dependencies/geo-location.js"></script>
    <script src="/js/dependencies/geolocator.min.js"></script>
    <script src="/js/dependencies/index.js"></script>
    <script src="/js/dependencies/input-hook.js"></script>
    <script src="/js/dependencies/jquery.easing.min.js"></script>
    <script src="/js/dependencies/jquery.mb.YTPlayer.js"></script>
    <script src="/js/dependencies/jquery.toaster.js"></script>
    <script src="/js/dependencies/jquery.validate.js"></script>
    <script src="/js/dependencies/jqueryFormReset.js"></script>
    <script src="/js/dependencies/jqueryWaitingDialog.js"></script>
    <script src="/js/dependencies/jsRenderViewExtensions.js"></script>
    <script src="/js/dependencies/lazy-script-loader.js"></script>
    <script src="/js/dependencies/login.js"></script>
    <script src="/js/dependencies/nav-toggle.js"></script>
    <script src="/js/dependencies/notification-service.js"></script>
    <script src="/js/dependencies/seatfilla-config.js"></script>
    <script src="/js/dependencies/select2.full.min.js"></script>
    <script src="/js/dependencies/sidebar.js"></script>
    <script src="/js/dependencies/socket-handler.js"></script>
    <script src="/js/dependencies/supported-currencies.js"></script>
    <script src="/js/dependencies/user.js"></script>
    <script src="/js/dependencies/wow.min.js"></script>
    <!--SCRIPTS END-->


    <!--STYLES-->
    <link rel="stylesheet" href="/bower_components/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="/bower_components/bootstrap/dist/css/bootstrap-theme.min.css">
    <link rel="stylesheet" href="/bower_components/select2/dist/css/select2.min.css">
    <link rel="stylesheet" href="/styles/animate.css">
    <link rel="stylesheet" href="/styles/importer.css">
    <link rel="stylesheet" href="/styles/ionicons.css">
    <link rel="stylesheet" href="/styles/main.css">
    <!--STYLES END-->
    <%- body %>
   
    <%- partial ('partials/toast.ejs') %>
    <%- partial ('partials/modal.ejs') %>
    </body>
</html>
