
<script>
 $(document).ready(function(){
      $('.panel-tabs li a').on('click',function(){
          $('#wrapper').find('.errors').html('').text('')
          $($(this).attr('href')).find('div.errors').html($('#errorTemplate').html())
      })

      var indx;
      if(window.location.hash){
        $('.panel-tabs li').removeClass('active');
        $('.panel-tabs li a[href="'+ window.location.hash+'"]').trigger('click')
      }

      $.toaster({ priority : 'info',  message : 'Account settings'})

      $('.sf-account-menu li').removeAttr('class');
      $('#ChangeDetails').attr('class','active');

      $('#update-details').on('click',function(){
           $('input[type="text"]').removeAttr('disabled');
           $('input[type="password"]').removeAttr('disabled');
           $('select').removeAttr('disabled');
           $('button').removeAttr('disabled');
      });

      $('#storeCreditCard').ajaxForm(function(err,response,jqXHR,ts,errorThrown){
          if(err){
            console.log('form error : ' + response);
            console.log(response)
            if(response.errorMessages){
             $('.errors').append($.templates('#jsonErrorTemplate').render({errorMessages:response.errorMessages}));
            }
            $.toaster({message:'Error: ' + errorThrown,priority:'danger'})
          }else{
            console.log(response)
            $('#ccards').append($.templates('#ccTemplate').render(response.response.credit_card))
            $.toaster({message:'Succesfully stored credit card', priority:'success'})
          }
      })
      
  });
  
</script>
<style>
form .control-label{
  font-weight:normal;
  font-size:13px;
}
/*Panel tabs*/
.panel-tabs {
    position: relative;
    clear:both;
    border-bottom: 1px solid transparent;
    color:black;
    bottom:20px;
}

.panel-tabs > li {
    float: left;
    margin-bottom: -1px;
}

.panel-tabs > li > a {
    margin-right: 2px;
    margin-top: 20px;
    line-height: .85;
    border: 1px solid transparent;
    border-radius: 4px 4px 0 0;
    color: black;
    font-weight:normal;
    font-size:12px;
    text-transform:uppercase;
}

.panel-tabs > li > a:hover {
    border-color: transparent;
    color: royalblue;
    background-color: transparent;
}

.panel-tabs > li.active > a,
.panel-tabs > li.active > a:hover,
.panel-tabs > li.active > a:focus {
    color: black;
    cursor: default;
    font-weight:normal;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
    background-color: rgba(255,255,255, .23);
    border-bottom-color: transparent;
}

.tab-pane{
  width:100%;
  margin:auto;
}
.tab-pane form{
    display: inline-block;
    text-align: center;
    width:100%;
}
.tab-pane input{
  margin:auto;
}

.panel.material .panel-heading{
  background-image:none;
  background-color:white;
  padding:34px;
}
.panel.material .panel-body{
  background-color:#fff;
}
.panel.material .panel-heading.border{
    
}
.help-block{
  color:black;
  font-size:12px;
}

</style>

<script type="text/html" id="errorTemplate">
   <%- partial ('../partials/flash.ejs') %>
</script>
<script type="text/html" id="jsonErrorTemplate">
  {{for errorMessages}}
      <div class="alert alert-danger">
          {{:~root.errorMessages[#getIndex()]}}
          <button type="button" class="close" data-dismiss="alert" aria-label="Close">
          <span aria-hidden="true">&times;</span>
          </button>
          </div>
      </div>
  {{/for}}
</script>
<div id="wrapper" class="wrapper">
    
	<div class="row">
		<div class="col-xs-12">
            <div class="panel panel-deault material">
                <div class="panel-heading border">
                    <p class="panel-title" style="padding-left:5px;">Account settings</p>
                    <span class="pull-right">
                        <!-- Tabs -->
                        <ul class="nav panel-tabs">
                            <li class="active"><a href="#updatedetails" data-toggle="tab">Update details</a></li>
                            <li><a href="#updatepaymentinfo" data-toggle="tab">Update payment info</a></li>
                        </ul>
                    </span>
                </div>
              
                <div class="panel-body">
                    <div class="tab-content">
                        <div class="tab-pane active" id="updatedetails">
                        <div class="row">
                        <div class="col-md-10 ">
                        <input type="button" id="update-details" value="Click to modify" class="btn btn-info pull-right"/>
                        <form action="/userprofile/<%=req.user.username%>/update" method="POST" id="account-details-form" class="form-horizontal">
                        <div class="errors"></div>
                        <fieldset>

                        <br/>
                    
                          <!-- Text input-->
                          <div class="form-group">
                            <label class="col-md-3 control-label" for="name">First Name</label>  
                            <div class="col-md-8">
                            <input id="name" name="firstName" type="text" value="<%=data.user.firstName%>" placeholder="First Name" class="form-control input-md" required="" disabled>
                            <span class="help-block">First name</span>  
                            </div>
                          </div>

                          <div class="form-group">
                            <label class="col-md-3 control-label" for="name">Middle Name</label>  
                            <div class="col-md-8">
                            <input id="name" name="middleName" type="text" value="<%=data.user.middleName%>" placeholder="Middle Name" class="form-control input-md" required="" disabled>
                            <span class="help-block">Middle name</span>  
                            </div>
                          </div>

                          <div class="form-group">
                            <label class="col-md-3 control-label" for="name">Last Name</label>  
                            <div class="col-md-8">
                            <input id="name" name="lastName" type="text" value="<%=data.user.lastName%>" placeholder="Last Name" class="form-control input-md" required="" disabled>
                            <span class="help-block">Last name</span>  
                            </div>
                          </div>


                          <!-- Text input-->
                          <div class="form-group">
                            <label class="col-md-3 control-label" for="phone">Home Phone</label>  
                            <div class="col-md-8">
                            <input id="phone" name="home" type="text" value="<%=data.user.home%>" placeholder="Home Phone Number" class="form-control input-md" required="" disabled>
                            <span class="help-block">Your home phone</span>  
                            </div>
                          </div>

                          <div class="form-group">
                            <label class="col-md-3 control-label" for="phone">Mobile No.</label>  
                            <div class="col-md-8">
                            <input id="phone" name="mobile" type="text" value="<%=data.user.mobile%>" placeholder="Mobile Phone Number" class="form-control input-md" required="" disabled>
                            <span class="help-block">Mobile</span>  
                            </div>
                          </div>

                          <!-- Text input-->
                          <div class="form-group">
                            <label class="col-md-3 control-label" for="email">Email</label>  
                            <div class="col-md-6">
                            <input id="email" name="email" type="text" value="<%=data.user.email%>" placeholder="Email address" class="form-control input-md" required="" disabled>
                            <span class="help-block">Email will be used for notication messages</span>  
                            </div>
                            <label class="col-md-1 control-label" for="email">Email verified? </label> 
                            <div class="col-md-1">
                                <%if(data.user.isEmailVerified){%>
                                    <input type="checkbox" class="form-control" checked="" disabled/>
                                <%}else{%>
                                    <input type="checkbox" class="form-control" disabled/>
                                <%}%>
                            </div>
                          </div>

                          <!-- Text input-->
                          <div class="form-group">
                            <label class="col-md-3 control-label" for="address1">Address line one</label>  
                            <div class="col-md-8">
                            <input id="address1" name="addressLine" value="<%=data.user.addressLine%>" type="text" placeholder="Address " class="form-control input-md" required="" disabled>
                            </div>
                          </div>

                          <div class="form-group">
                            <label class="col-md-3 control-label" for="address1">Address line two</label>  
                            <div class="col-md-8">
                            <input id="address1" name="addressLineTwo" type="text" value="<%=data.user.addressLineTwo%>" placeholder="Address " class="form-control input-md" required="" disabled>
                      
                            </div>
                          </div>

                          <div class="form-group">
                            <label class="col-md-3 control-label" for="address1">Address line three</label>  
                            <div class="col-md-8">
                            <input id="address1" name="addressLineThree" type="text" value="<%=data.user.addressLineThree%>" placeholder="Address " class="form-control input-md" required="" disabled>
                      
                            </div>
                          </div>

                          <div class="form-group">
                            <label class="col-md-8 control-label" for="country">Country</label>  
                            <div class="col-md-4">
                            <select id="country" name="country" data-attr-cityLink="#city" type="text" class="form-control input-md country" required disabled>
                            </select>
                            </div>
                          </div>

                          <!-- Text input-->
                          <div class="form-group">
                            <label class="col-md-8 control-label" for="city">City</label>  
                            <div class="col-md-4">
                            <select id="city" name="city" value="<%=data.user.city%>" type="text" class="form-control input-md city" required disabled>
                            </select>
                            </div>
                          </div>


                          <!-- Text input-->
                          <div class="form-group">
                            <label class="col-md-3 control-label" for="zip">Post Code</label>  
                            <div class="col-md-4">
                            <input id="zip" name="zip" type="text" value="<%=data.user.postcode%>" placeholder="Zip Code" class="form-control input-md" required="" disabled>
                      
                            </div>
                          </div>


                            <!-- Password input-->
                          <div class="form-group">
                            <label class="col-md-3 control-label" for="password">Password </label>
                            <div class="col-md-8">
                              <input id="password" name="password" type="password" placeholder="Password " class="form-control input-md" required="" disabled>
                              <span class="help-block">Please confirm your password before updating information.</span>
                            </div>
                          </div>

                          <!-- Button (Double) -->
                          <div class="form-group">
                            <label class="col-md-3 control-label" for="save"></label>
                            <div class="col-md-8">
                              <button id="save" name="save" class="btn btn-info btn-block" disabled>Update my details</button>
                            </div>
                          </div>
                  </form>
                  </div>
                  <div class="col-md-2 hidden-xs">
                  <img src="/images/Logo.png" class="img-responsive img-thumbnail ">
                    </div>
                  </div>
                  </div>
                        <div class="tab-pane" id="updatepaymentinfo">

          <div class="row">          
      <div class="col-xs-8">
             <div class="panel-heading" style="margin:0px;padding:0px;padding-left:20px;"><p> Enter new payment details </p></div>
      <form id="storeCreditCard" action="/paypal/storeCreditCard" method="POST" class="form-horizontal">
          <div class="errors"></div>
          <div class="form-group">
                            <label class="col-md-3 control-label" for="zip">First name</label>  
                            <div class="col-md-6">
                             <input type="text" name="first_name" placeholder="Dale" class="form-control input input-sm" pattern="[a-zA-Z]+" required>
                                <span class="help-block">Your first name</span>
                            </div>
                          </div>
          <div class="form-group">
                            <label class="col-md-3 control-label" for="lastName">Last name</label>  
                            <div class="col-md-6">
                             <input type="text" minlength="2" name="last_name" placeholder="Appleby" class="form-control input input-sm" pattern="[a-zA-Z]+" title="Fill your first and last name" required>
                                <span class="help-block">Your last name</span>
                            </div>
                          </div>
       
          <div class="form-group">
            <label class="col-md-3 control-label">Card Number</label>
              <div class="row">
                <div class="col-xs-2">
                  <input type="password" name="ccPartOne" placeholder="4801" class="form-control input input-sm" autocomplete="off" maxlength="4" pattern="\d{4}" title="First four digits" required>
                </div>
                <div class="col-xs-2">
                  <input type="text" name="ccPartTwo" placeholder="0100" class="form-control input input-sm" autocomplete="off" maxlength="4" pattern="\d{4}" title="Second four digits" required>
                </div>
                <div class="col-xs-2">
                  <input type="text" name="ccPartThree" placeholder="5766" class="form-control input input-sm" autocomplete="off" maxlength="4" pattern="\d{4}" title="Third four digits"  required>
                </div>
                <div class="col-xs-2">
                  <input type="password" name="ccPartFour"  placeholder="7661" class="form-control input input-sm" autocomplete="off" maxlength="4" pattern="\d{4}" title="Fourth four digits" required>
                </div>
            
            </div>
               <span class="help-block"> Sixteen digit card no. The first and last four digits will not be visible for safety.</span>
          </div>
       
          <div class="form-group">
            <label class="col-md-3 control-label">Expiry</label>
            
                <div class="col-md-4">
                
                  <select name="expire_month" class="form-control noselect" required>
                  <% for(var i = 1;i <= 12;i++){%>
                        <option value="<%=i%>" ><%=i%><option>
                    <%}%>
                  </select>
                  <span class="help-block">Expiry month e.g (12)</span>
                </div>
                <div class="col-md-3">
                  <select name="expire_year" class="form-control noselect" required>
                    <% for(var i = new Date().getFullYear();i <= new Date().getFullYear() + 10;i++){%>
                        <option ><%=i%><option>
                    <%}%>
                  </select>
                      <span class="help-block">Expiry year e.g (2021)</span>
                </div>
          </div>
       
          <div class="form-group">
            <label class="col-md-3 control-label">Card CVV</label>
               <div class="row">
                  <div class="col-md-4">
                    <input name="CVV" type="password" class="form-control" autocomplete="off" maxlength="3" pattern="\d{3}" title="Three digits at back of your card" required>
                         <span class="help-block">3 digit number on back of card.</span>
                  </div>
                  <div class="col-md-4">
                  <select name="type" class="form-control noselect" required>
                    <option value="visa">Visa</option>
                  </select>
                      <span class="help-block">Card type</span>
                  </div>

                </div>
            </div>
          <br/>
          <input type="hidden" name="redirectSuccess" value="/userprofile/<%=req.user.username%>/update#updatepaymentinfo"/>
          <input type="hidden" name="redirectFailiure" value="/userprofile/<%=req.user.username%>/update#updatepaymentinfo"/>
          <div class="form-actions">
            <button type="submit" class="btn btn-info btn-block">Save payment details</button>
          </div>
      </form>
      </div>
      <div class="col-xs-4">
      <div class="panel panel-default material">
          <div class="panel-heading">
            Current payment methods
          </div>
          <div class="panel-body container-fluid">
    <div class="container-fluid" id="tourpackages-carousel">
      <script type="text/html" id="ccTemplate">
          <div class="col-xs-12">
            <div class="thumbnail">
                <div class="caption">
                  <div class='col-lg-12'>
                      <span class="glyphicon glyphicon-credit-card"></span>
                      <span class="glyphicon glyphicon-trash pull-right text-primary"></span>
                  </div>
                  <div class='col-lg-12 well well-add-card'>
                      <p>{{:first_name}} {{:last_name}}</p>
                  </div>
                  <div class='col-lg-12'>
                      <p>{{:number}}</p>
                      <p class"text-muted">Exp: {{:expire_year}}/{{:expire_month}}</p>
                  </div>
                  <button type="button" class="btn btn-primary btn-xs btn-update btn-add-card">Update</button>
                  <button type="button" class="btn btn-danger btn-xs btn-update btn-add-card">Vrify Now</button>
                  <span class='glyphicon glyphicon-exclamation-sign text-danger pull-right icon-style'></span>
              </div>
            </div>
          </div>
        </script>
      <div id="ccards" class="row" style="max-height:400px;overflow-y:scroll;">

       <% data.cards.forEach(function(card){ %>
        <div class="col-xs-12">
          <div class="thumbnail">
              <div class="caption">
                <div class='col-lg-12'>
                    <span class="glyphicon glyphicon-credit-card"></span>
                    <span class="glyphicon glyphicon-trash pull-right text-primary"></span>
                </div>
                <div class='col-lg-12 well well-add-card'>
                    <p><%=card.first_name%> <%=card.last_name%></p>
                </div>
                <div class='col-lg-12'>
                    <p><%= card.number %></p>
                    <p class"text-muted">Exp: <%=card.expire_year%>/<%=card.expire_month%></p>
                </div>
                <button type="button" class="btn btn-primary btn-xs btn-update btn-add-card">Update</button>
                <button type="button" class="btn btn-danger btn-xs btn-update btn-add-card">Vrify Now</button>
                <span class='glyphicon glyphicon-exclamation-sign text-danger pull-right icon-style'></span>
            </div>
          </div>
        </div>
      <% }); %>

      </div><!-- End row -->
    </div><!-- End container -->
          </div>
      </div>
      </div>
      </div>
                        
                        </div>
                      
                    </div>
                </div>
            </div>
        </div>
	</div>
</div>
