<div class="row">
        <hr class="hr-danger" />
        <ol class="breadcrumb bread-danger">
              <li><a href="/provider/">provider panel</a></li>
              <li><a href="/provider/create/">create</a></li>
              <li><a href="/provider/create/webhook">create webook</a></li>
              <li class="active">create webhook success</li>
          </ol>
</div> 

<h3>Your web hook has been succefully created.</h3><br/><hr/>

    <div class="panel panel-info">
        <div class="panel-heading">Web hook info</div>
        <div class="panel-body">
        <ul>
            <li>Sent in request header as 'x-seatfilla-web-hook-key': <%= req.flash('sfVerificationParam')%></li>
            <li>Decrypt 'x-seatfilla-web-hook-key' value with key: <%= req.flash('key')%></li>
            <li>Algorithm to use when decrypting: <%= req.flash('algorithm')%></li>
            <li>Decrypted message value should equal: <%= req.flash('message')%></li>
        </ul>
        <small>This is the last time Seatfilla can display the decrypted message value. Please store this somewhere and remember it.</small>

        <p> In order for this webhook to become active, you must verify you are the owner of the URL endpoint provided.
            when clicking the verify button below, a request will be sent to the endpoint provided with a header param 'x-seatfilla-web-hook-verification-key'.
            The value of this key must either be returned by the endpoint within the body of the response under the parameter 'verificationToken'
            or a successful response must be returned within the specified timeout period (10s), we will then redirect you to a page where you
            can enter verification token recieved.</p>
            <br/>
            <a class="btn btn-info pull-right" href="<%= req.flash('id')%>">Verify this webhook</a>
        </div>
    </div>


